HolidayReservationSystem/xml-resources/web-service-references/PartnerReservationSystem/wsdl/localhost_8080/PartnerReservationSystem/PartnerReservationSystem.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerReservationSystem">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerReservationSystem/PartnerReservationSystem?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveIndividualFlightReservation">
<part name="parameters" element="tns:retrieveIndividualFlightReservation"/>
</message>
<message name="retrieveIndividualFlightReservationResponse">
<part name="parameters" element="tns:retrieveIndividualFlightReservationResponse"/>
</message>
<message name="FlightReservationDoesNotExistException">
<part name="fault" element="tns:FlightReservationDoesNotExistException"/>
</message>
<message name="retrieveListOfReservation">
<part name="parameters" element="tns:retrieveListOfReservation"/>
</message>
<message name="retrieveListOfReservationResponse">
<part name="parameters" element="tns:retrieveListOfReservationResponse"/>
</message>
<message name="CustomerHasNoReservationException">
<part name="fault" element="tns:CustomerHasNoReservationException"/>
</message>
<message name="loginPartner">
<part name="parameters" element="tns:loginPartner"/>
</message>
<message name="loginPartnerResponse">
<part name="parameters" element="tns:loginPartnerResponse"/>
</message>
<message name="CustomerLoginInvalid">
<part name="fault" element="tns:CustomerLoginInvalid"/>
</message>
<message name="AccessFromWrongPortalException">
<part name="fault" element="tns:AccessFromWrongPortalException"/>
</message>
<portType name="PartnerReservationSystem">
<operation name="retrieveIndividualFlightReservation">
<input wsam:Action="http://ws.session.ejb/PartnerReservationSystem/retrieveIndividualFlightReservationRequest" message="tns:retrieveIndividualFlightReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationSystem/retrieveIndividualFlightReservationResponse" message="tns:retrieveIndividualFlightReservationResponse"/>
<fault message="tns:FlightReservationDoesNotExistException" name="FlightReservationDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerReservationSystem/retrieveIndividualFlightReservation/Fault/FlightReservationDoesNotExistException"/>
</operation>
<operation name="retrieveListOfReservation">
<input wsam:Action="http://ws.session.ejb/PartnerReservationSystem/retrieveListOfReservationRequest" message="tns:retrieveListOfReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationSystem/retrieveListOfReservationResponse" message="tns:retrieveListOfReservationResponse"/>
<fault message="tns:CustomerHasNoReservationException" name="CustomerHasNoReservationException" wsam:Action="http://ws.session.ejb/PartnerReservationSystem/retrieveListOfReservation/Fault/CustomerHasNoReservationException"/>
</operation>
<operation name="loginPartner">
<input wsam:Action="http://ws.session.ejb/PartnerReservationSystem/loginPartnerRequest" message="tns:loginPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationSystem/loginPartnerResponse" message="tns:loginPartnerResponse"/>
<fault message="tns:CustomerLoginInvalid" name="CustomerLoginInvalid" wsam:Action="http://ws.session.ejb/PartnerReservationSystem/loginPartner/Fault/CustomerLoginInvalid"/>
<fault message="tns:AccessFromWrongPortalException" name="AccessFromWrongPortalException" wsam:Action="http://ws.session.ejb/PartnerReservationSystem/loginPartner/Fault/AccessFromWrongPortalException"/>
</operation>
</portType>
<binding name="PartnerReservationSystemPortBinding" type="tns:PartnerReservationSystem">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveIndividualFlightReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightReservationDoesNotExistException">
<soap:fault name="FlightReservationDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="retrieveListOfReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerHasNoReservationException">
<soap:fault name="CustomerHasNoReservationException" use="literal"/>
</fault>
</operation>
<operation name="loginPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerLoginInvalid">
<soap:fault name="CustomerLoginInvalid" use="literal"/>
</fault>
<fault name="AccessFromWrongPortalException">
<soap:fault name="AccessFromWrongPortalException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerReservationSystem">
<port name="PartnerReservationSystemPort" binding="tns:PartnerReservationSystemPortBinding">
<soap:address location="http://localhost:8080/PartnerReservationSystem/PartnerReservationSystem"/>
</port>
</service>
</definitions>